.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  height: 50px;
}

.header__logo {
  height: 60px;
  object-fit: contain;
}

.header__icon {
  padding: 10px;
  color: gray;
  width: 30px;
}
